<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/homepage.css">
    <title>RanmITS</title>
</head>

<body>
    <div class="navbar">
        <div class="logo-title">
            <img src="/public/images/logo.png" alt="" width="29.34px" height="29.23px">
            <p class="title">RanmITS</p>
        </div>
        <img src="/public/images/humberger-menu.png" alt="" class="humberger-menu">
    </div>
    <div class="homepage">
        <img class="shield" src="/public/images/shield.png" alt="">
        <div class="content-1">
            <p class="content-1-title">
                Temukan Kembali Kendaraan yang Hilang dengan <span>Mudah</span>
            </p>
            <p class="content-1-body">
                Kehilangan kendaraan Anda? Kami tahu perasaan itu, dan kami hadir untuk membantu menemukan kembali
                kendaraan anda!
            </p>
            <div class="laporkan-kehilangan-button">
                <img src="/public/images/exclamation-circle.png" alt="" width="24px" height="24px">
                <p>Laporkan Kehilangan</p>
            </div>
        </div>
        <div class="announcement">
            <img src="/public/images/speakerphone.png" alt="">
            <div>
                <p>Selalu letakkan kendaraan anda pada tempat parkir yang sesuai dan gunakan kunci ganda sebelum
                    meninggalkan kendaraan</p>
            </div>
        </div>
        <div class="content-2">
            <div class="title-wrap">
                <p class="title">
                    Yuk! Perhatikan Keamanan Kendaraanmu
                </p>
                <p class="sub-title">Berikut kami hadirkan data kejadian kehilangan kendaraan sebagai upaya meningkatkan
                    kewaspadaan anda!
                </p>
            </div>
            <div class="data-kejadian-card">
                <div class="title">
                    <p class="title-text">Data Kejadian Kehilangan Kendaraan</p>
                    <p class="date">
                        April 2023
                    </p>
                </div>
                <div class="sub-title">
                    <div class="jumlah-kejadian-box">
                        <p class="case-number">
                            6
                        </p>
                        <p>
                            Kejadian
                        </p>
                    </div>
                    <div class="kasus-menigkat-box">
                        <img src="/public/images/kasus-meningkat-box.png" alt="" height="32px" ; width="147px">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-3">
            <p class="title">Daftar Laporan Kendaraan Hilang</p>
            <div class="category">
                <div class="semua">
                    <p>Semua</p>
                </div>
                <div class="motor">
                    <p>Motor</p>
                </div>
                <div class="mobil">
                    <p>Mobil</p>
                </div>
            </div>
            <div class="laporan-kehilangan-card">
                <img class="gambar-motor-beat" src="/public/images/motor_beat.png" alt="">
                <div class="informasi-kendaraan">
                    <p class="plat-nomor">W 1234 PL</p>
                    <div class="informasi-kendaran-details">
                        <div class="details">
                            <img class="tag" src="/public/images/tag.png" alt="">
                            <p class="deskripsi-title">
                                Deskripsi Kendaraan
                            </p>
                            <p class="isi-deskripsi">Honda Beat 115 | Warna Hitam | 2019</p>
                        </div>
                        <div class="details">
                            <img class="clock" src="/public/images/clock.png" alt="">
                            <p class="deskripsi-title">
                                Deskripsi Kendaraan
                            </p>
                            <p class="isi-deskripsi">Honda Beat 115 | Warna Hitam | 2019</p>
                        </div>
                        <div class="details">
                            <img class="loc" src="/public/images/location-marker.png" alt="">
                            <p class=" deskripsi-title">
                                Deskripsi Kendaraan
                            </p>
                            <p class="isi-deskripsi">Honda Beat 115 | Warna Hitam | 2019</p>
                        </div>
                    </div>
                </div>
                <img class="tombol-hubungi-pemilik" src="/public/images/tombol_hubugi_pemilik.png" alt="">
            </div>
        </div>
    </div>