<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homepage.css">
  <title>RanmITS</title>
</head>

<body>
  <div class="homepage" id="homepage">
    <%- include('partials/navbar') -%>
    <img class="shield" src="/images/shield.png" alt="">
    <div class="content-1">
      <p class="content-1-title">
        Temukan Kembali Kendaraan yang Hilang dengan <span>Mudah</span>
      </p>
      <p class="content-1-body">
        Kehilangan kendaraan Anda? Kami tahu perasaan itu, dan kami hadir untuk membantu menemukan kembali
        kendaraan anda!
      </p>
      <a href="/laporan-kehilangan-page" style="text-decoration: none;">
        <button class="laporkan-kehilangan-button" style="border: 0;">
          <img src="/images/exclamation-circle.png" alt="" width="24px" height="24px">
          <p>Laporkan Kehilangan</p>
        </button>
      </a>
    </div>
    <div class="announcement">
      <img src="/images/speakerphone.png" alt="">
      <div>
        <p>Selalu letakkan kendaraan anda pada tempat parkir yang sesuai dan gunakan kunci ganda sebelum
          meninggalkan kendaraan</p>
      </div>
    </div>
    <div class="content-2">
      <div class="title-wrap">
        <p class="title">
          Yuk! Perhatikan Keamanan Kendaraanmu
        </p>
        <p class="sub-title">Berikut kami hadirkan data kejadian kehilangan kendaraan sebagai upaya
          meningkatkan
          kewaspadaan anda!
        </p>
      </div>
      <div class="data-kejadian-card">
        <div class="title">
          <p class="title-text">Data Kejadian Kehilangan Kendaraan</p>
          <p class="date">
            April 2023
          </p>
        </div>
        <div class="sub-title">
          <div class="jumlah-kejadian-box">
            <p class="case-number">
              6
            </p>
            <p>
              Kejadian
            </p>
          </div>
          <div class="kasus-menigkat-box">
            <img src="/images/kasus-meningkat-box.png" alt="" height="32px" ; width="147px">
          </div>
        </div>
      </div>
    </div>
    <div class="content-3">
      <p class="title">Daftar Laporan Kendaraan Hilang</p>
      <%- include("partials/laporan-kehilangan-card") -%>
    </div>
    <%- include('partials/footer')-%>
    <button class="panggil-petugas-button" id="panggil-petugas-button" onclick="openWarning()">
      <img src="/images/status-online-white.png" alt="">
      <p>Panggil Petugas</p>
    </button>
  </div>
  <div class="warning" id="warning">
    <div class="warning-title">
      <img src="images/exclamation.png" alt="">
      <p>Peringatan</p>
    </div>
    <p class="isi">Dengan menekan “Lanjutkan”, anda akan menyalakan fitur Panggil Petugas yang terhubung dengan petugas keamanan</p>
    <div class="yesno-button">
      <a class="yes" href="tel:+6281325787170">
        <p>Lanjutkan</p>
      </a>
      <button class="no" onclick="closeWarning()">
        <p>Batal</p>
      </button>
    </div>
  </div>
</body>

<script>
  function closeWarning() {
    document.getElementById("warning").style.display = "none";
    document.getElementById("homepage").style.opacity = "1";
  }

  function openWarning() {
    document.getElementById("warning").style.display = "flex";
    document.getElementById("homepage").style.opacity = "0.1";
  }
</script>