<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/successpage.css">
  <title>RanmITS</title>
</head>

<body>
  <div class="navbar">
    <p>Lapor Kehilangan</p>
  </div>
  <div class="success-card">
    <img src="/images/Tick.png" alt="" width="150px" height="150px">
    <p class="title">Laporan berhasil diunggah!</p>
    <p class="sub-title">Laporan anda berhasil diunggah, semoga lekas menemukan kembali kendaraan anda!</p>
    <a href="/home">
      <button>
        <p>Kembali ke Halama Utama</p>
      </button>
    </a>
  </div>
</body>

</html>