<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>RanmITS</title>
  <link rel="stylesheet" href="/css/tentang-produk-page.css">
  <link rel="stylesheet" href="/css/navbarx.css">
</head>

<body>
  <%- include('partials/navbarx') -%>
  <div class="titles">
    <div class="logo-title-box">
      <img src="images/logo.png" alt="" width="29.34px" height="29.23px">
      <p id="title">RanmITS</p>
    </div>
    <p id="sub-title">Platform pencarian kendaraan hilang</p>
  </div>

  <div class="tentang">
    <div class="sub-title">
      <img src="/images/exclamation-circle-grey.png" alt="" width="24px" height="24px">
      <p>Tentang Produk</p>
    </div>
    <p>Merupakan platform berbasis website dengan tampilan layar samrtphone yang dikembangkan untuk membantu masyarakat dan juga petugas
      keamanan untuk mencegah dan menangani fenomena pencurian kendaraan bermotor yang sedang kerap terjadi
      belakangan ini yang tentunya sangat meresahkan masyarakat.</p>
    </p>
  </div>
  <div class="tentang">
    <div class="sub-title">
      <img src="/images/exclamation-circle-grey.png" alt="" width="24px" height="24px">
      <p>Tentang Pengembang</p>
    </div>
    <p>Dikembangkan sebagai final project mata kuliah Rancang Bangun Perangkat Lunak/Software Engineering prodi
      S1 Sistem Informasi ITS. Adapaun tim developer pengembang yang terdiri dari Naufal Firjatulloh
      Fano-5026211011, Zada Alfarras Rasendriya-5026211088, Evanriza Safiq Ariadi-5026211139, Rafi Arian
      Yusuf-5026211177, dan Laode Shaldan Falih-5026211178.</p>
    <p style="text-align: center;">Saran & Kritik, <a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKHQdQlqNnNVCBDdLTMZHcDTjNLmvvhLJngLLGVdjQBxBQfGQDhtDzWfGmsrzNLqkMCsnhg">77shaldan77@gmail.com</a></p>

  </div>
  <%- include('partials/footer')-%>
</body>

</html>