<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>RanmITS</title>
  <link rel="stylesheet" href="/css/tentang-produk-page.css">
</head>

<body>
  <%- include('partials/navbar') -%>
  <div class="titles">
    <div class="logo-title-box">
      <img src="images/logo.png" alt="" width="29.34px" height="29.23px">
      <p id="title">RanmITS</p>
    </div>
    <p id="sub-title">Platform pencarian kendaraan hilang</p>
  </div>

  <div class="tentang">
    <div class="sub-title">
      <img src="/images/exclamation-circle-grey.png" alt="" width="24px" height="24px">
      <p>Tentang Produk</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.</p>
  </div>
  <div class="tentang">
    <div class="sub-title">
      <img src="/images/exclamation-circle-grey.png" alt="" width="24px" height="24px">
      <p>Tentang Pengembang</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.</p>
  </div>
  <%- include('partials/footer')-%>
</body>

</html>