body{
    display: flex;
    justify-content: center;
    background-color: #F9FAFB;
    align-items: center;
    flex-direction: column;
}

p{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin: 0;
}

h1{
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin: 0;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

::placeholder{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin: 0;
    color: #AEAEAE;
}
.navbar {
    height: 77.23px;
    width: 375px;
    background-color: white;
    display: flex;
    align-items: center;
}

.navbar img {
    margin: 24px;
    margin-right: 16px;
}

.navbar p {
    font-weight: 500;
}

.body{
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
}

.body .title {
    font-size: 18px;
}


.body .form p{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
}

.body .form input{
    box-sizing: border-box;
    margin: 0;
    width: 327px;
    height: 42px;
    border-radius: 8px;
    border: 2px solid #C9C9C9;
    padding-left: 12px;
    margin-bottom: 14px;
}

.body .form select{
    margin: 0;
    width: 327px;
    height: 42px;
    border-radius: 8px;
    border: 2px solid #C9C9C9;
    padding-left: 12px;
    margin-bottom: 14px;
}

form > .foto-kendaraan-field {
    box-sizing: border-box;
    padding: 32px;
    width: 327px;
    height: 162px;
    border: 2px dashed #9CA3AF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

input[type="file"] {
    display: none;
}

.foto-kendaraan-field > .instruction span {
    color: #9CA3AF;
}

.foto-kendaraan-field > .format {
    font-size: 12px;
    color: #9CA3AF;
}

.additional-information{
    background-color: #EBF5FF;
    display: flex;
    flex-direction: row;
    height: 78px;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 23px;
}
.additional-information img {
    margin-left:12px ;
    margin-right: 17px;
}

.text {
    margin-right:12px ;
    font-size: 12px;
    color: #1E429F;
}

.deskripsi-pendukung-form {
    box-sizing: border-box;
    height: 173px;
    width: 327px;
    border: 1px solid #C9C9C9;
    border-radius: 8px;
    padding: 12px;
}

.buat-laporan-button {
    height: 44px;
    width: 327px;
    background-color: #1C64F2;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-top: 30px;
}

.buat-laporan-button p {
    color: white;
}


